NETWORK_SSID: str = ""
NETWORK_PASSWORD: str = ""
MQTT_HOST: str = "domain.com"
MQTT_PORT: int = 1883
MQTT_USERNAME: str = "root"
MQTT_PASSWORD: str = "password"
DEVICE_UUID: str = "UUID"
DHT22_PIN: int = 22
DHT22_INTERVAL_SECONDS: int = 15
LED_BLINK_SUCCESSFUL: bool = True
